@{
    ViewData["Title"] = "Kayıt Başarılı";
}

<div class="container mt-5">
    <h1>Kayıt Başarılı!</h1>
    <p>Randevu alabilmek için artık müşterimiz oldunuz. Teşekkür ederiz!</p>
    <a href="/" class="btn btn-primary mt-4">Anasayfaya Dön</a>
</div>
